source https://www.nuget.org/api/v2

framework: >= netstandard2.0, net46, netcoreapp2.0
nuget FSharp.Core
github fsprojects/FsUnit src/FsUnit.NUnit/FsUnit.fs

group Test
    source https://nuget.org/api/v2
    nuget NUnit.Console
    nuget NUnit

group Build
source https://www.nuget.org/api/v2

nuget FAKE